venv/
data/heart_rate
data/labels
data/motion
data/steps
outputs_apple/cropped/
outputs_apple/features/
outputs_lab/cropped/
outputs_lab/features/
postprocessing/data/
test_data_5_min
postprocessing/saved_models
postprocessing/saved_models_optimized
difference_data